<h2> Edit your password </h2>

<div class="row" align="justify">
  <div class="col-md-8">
    <%= form_for(@user, :url => { :action => "update_password" } ) do |f| %>

      <div class="form-group">
        <%= f.label :current_password %> <i>(We need your current password to confirm your changes.)</i><br />
        <%= f.password_field :current_password, class: "form-control", placeholder: "Enter current password" %>
      </div>

      <div class="form-group">
        <%= f.label :password, "Password" %><br />
        <%= f.password_field :password, :autocomplete => "off", class: "form-control", placeholder: "Enter new password"  %>
      </div>
      <div class="form-group">
        <%= f.label :password_confirmation %><br />
        <%= f.password_field :password_confirmation, class: "form-control", placeholder: "Confirm new password" %>
      </div>
      <div class="action_container">
        <%= f.submit "Save", class: "btn btn-success"%>
      </div>
    <% end %>
    </div>
</div>
