<!DOCTYPE html>
<html>
  <%= favicon_link_tag 'favicon.ico' %>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Scratchitoff</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body “data-no-turbolink”>
<div id="fb-root"></div>
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&appId=127527187264374&version=v2.0";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
<script type="text/javascript">
window.twttr=(function(d,s,id){var t,js,fjs=d.getElementsByTagName(s)[0];if(d.getElementById(id)){return}js=d.createElement(s);js.id=id;js.src="https://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);return window.twttr||(t={_e:[],ready:function(f){t._e.push(f)}})}(document,"script","twitter-wjs"));
</script>
  <div class="container">
       <ul class="nav nav-tabs">
        <li><%= link_to "ScratchItOff", welcome_index_path %></li>
        <li><%= link_to "About", welcome_about_path %></li>
        <li><%= link_to "To-Do Lists", lists_path %></li>
          <div class="pull-right user-info">
            <% if current_user %> 
               Hello <%= link_to (current_user.name || current_user.email), current_user %>!
            <%= link_to edit_user_registration_path, class: 'btn btn-primary btn-sm' do %>
              <span class="glyphicon glyphicon-user"> Edit Password</span>
            <% end %>
 
            <%= link_to destroy_user_session_path, method: :delete, class: 'btn btn-primary btn-sm' do %>
              <span class="glyphicon glyphicon-log-out"> Logout</span>
            <% end %>
            <% else %>
              <%= link_to "Sign In", new_user_session_path %> or
              <%= link_to "Sign Up", new_user_registration_path %>
            <% end %>
          </div>    
      </ul>
      <% if flash[:notice] %>
      <% end %>
<%= yield %>
  </div>
    <div class="footer-spacer"></div>
  <div class="footer">
    <center>
    <div class="fb-like" data-href="http://scratchitoff.co" data-width="200" data-layout="button" data-action="recommend" data-show-faces="true" data-share="true"></div>
    </br>
    </br>
    <a class="twitter-share-button"
  href="http://scratchitoff.co">
Tweet
</a>

    </center>
    </div>
  

</body>
</html>
