<!DOCTYPE html>
<html>
<head>
  <title>Scratchitoff</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="container">
       <ul class="nav nav-tabs">
        <li><%= link_to "ScratchItOff", welcome_index_path %></li>
        <li><%= link_to "About", welcome_about_path %></li>
        <li><%= link_to "To-Do Lists", lists_path %></li>
          <div class="pull-right user-info">
            <% if current_user %> 
              Hello <%= link_to (current_user.name || current_user.email), edit_user_registration_path %>! <%= link_to "Sign out", destroy_user_session_path, method: :delete %>
            <% else %>
              <%= link_to "Sign In", new_user_session_path %> or
              <%= link_to "Sign Up", new_user_registration_path %>
            <% end %>
          </div>    
      </ul>
      <% if flash[:notice] %>
      <% end %>
<%= yield %>
  </div>
</body>
</html>
